<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../assets/css/homePage.css">
    <link rel="stylesheet" href="../assets/css/about.css">
</head>
<body>
    <div class="container">
        <div class="headerContainer">
            <div class="logoContainer">
                <img class="logo" src="../assets/img/logo.png" alt="">
            </div>
        </div>

        <div class="bodyContainer1">
            <div class="textContainer2">
                <p class="text3">RNR TAPSILOG STREET</p>
            </div>

            <div class="textContainer3">
                <p class="text1">Welcome to RnR Tapsilog Street, where Filipino culinary heritage meets modern flavors. Established with a passion for authentic taste and warm hospitality, we serve up a delightful array of traditional Filipino dishes, with our signature tapsilog taking center stage. At RnR Tapsilog Street, we aim to create a vibrant dining experience that celebrates the rich tapestry of Filipino cuisine, inviting you to savor every bite and share in the joy of good food and great company.</p>
            </div>
        </div>
    </div>
</body>
</html>