<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../assets/css/homePage.css">
</head>
<body>
    <div class="container">
        <div class="headerContainer">
            <div class="logoContainer">
                <img class="logo" src="../assets/img/logo.png" alt="">
            </div>
        </div>

        <div class="bodyContainer">
            <div class="subBodyContainer">
                <div class="textContainer">
                    <p>IT'S NOT JUST A <span>FOOD</span>, IT'S AN <span>EXPERIENCE</span></p>
                </div>

                <div class="textContainer1">
                    <p class="text">Welcome to RnR Tapsilog Street, your ultimate destination for the most delectable tapsilog experience! Explore our menu and let your taste buds embark on a tantalizing adventure. RnR Tapsilog Street - where every bite tells a story.</p>
                </div>
            </div>

            <div class="imageContainer">
                <img class="image" src="../assets/img/img1.png" alt="">
            </div>
        </div>
    </div>
</body>
</html>