<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../assets/css/homePage.css">
    <link rel="stylesheet" href="../assets/css/location.css">
</head>
<body>
    <div class="container">
        <div class="headerContainer">
            <div class="logoContainer">
                <img class="logo" src="../assets/img/logo.png" alt="">
            </div>
        </div>

        <div class="bodyContainer3">
           <div class="subBodyContainer3">
            <div class="imageContainer2">
              <div class="subImageContainer2">
                <img class="image2" src="../assets/img/logo1.png" alt="">
              </div>
            </div>

            <div class="textContainer1">
              <p>RnR Tapsilog Street is conveniently situated in Chuchu, Zamboanga City, Philippines. This bustling eatery is a go-to spot for locals and visitors alike, offering delicious Filipino cuisine, particularly renowned for its mouthwatering tapsilog dishes. Open every day from 7:30 am to 10 pm, RnR Tapsilog Street welcomes patrons to enjoy hearty meals throughout the day, promising a delightful culinary experience in the heart of Zamboanga City.</p>
            </div>
           </div>

           <div class="mapContainer">
            <div class="subMapContainer">
              <img class="image" src="../assets/img/BG2.png" alt="">
            </div>
           </div>
        </div>
    </div>
</body>
</html>